*{
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body{
  margin: 0 auto;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
@media (max-width:769){
  html{
    scroll-snap-type: none;
  }
}